@page "/"
@inject IJSRuntime JsRuntime;

<div class="h-100 w-100">
    <Universe />
</div>

@code{

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    await JsRuntime.InvokeAsync<object>("initRenderJS", DotNetObjectReference.Create(this));
    //    await base.OnInitializedAsync();
    //}
    
}
