circle {
    position: relative;
    z-index: 100;
}
    circle:hover {
        fill: white;
    }

    circle:checked {
        fill: white;
    }
    
    
.entity-title {
    fill: black;
    pointer-events: none !important;
}