circle {

}
    circle:hover {
        color: white;
    }

rect {
    display: none;
    position: relative;
    height: 30px;
    width: 15px;
    -webkit-appearance: none;
    background: black;
    outline: white;
    opacity: 0.5;
}

rect:before {
    display: block;
}
.entity-title {
    fill: black;
    pointer-events: none !important;
}

.entity {
    
}