@using Amazon.Runtime.Internal

<rect class="popout-menu" x="@X" y="@Y" rx="5" width="20" height="@Height" style="display: @DisplayState;">
    <div class="menu-trigger" @onclick="ToggleMenu">
        <!-- Use for show dependency popout menu -->
        Click me to open the menu
    </div>
    @if (IsVisible)
    {
        <div class="popout-menu">
            <!-- Menu items -->
            <div class="menu-item">Item 1</div>
            <div class="menu-item">Item 2</div>
            <div class="menu-item">Item 3</div>
        </div>
    }
</rect>

@code {
    //[Parameter]
    //public EventCallback<bool> ValueChanged { get; set; }

    private bool IsVisible = false;

    private string DisplayState => IsVisible ? "block" : "none";

    [CascadingParameter(Name = "X")]
    public double X { get; set; }

    [CascadingParameter(Name = "Y")]
    public double Y { get; set; }

    [CascadingParameter(Name = "Name")]
    public string Name { get; set; }

    public double Height { get; set; } = 30;

    //even though we access the methods below and successfully update the displayState value,
    //we don't change the actual value inside the html for some reason.
    public void ToggleMenu()
    {
        IsVisible = !IsVisible;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {

        base.OnInitialized();
    }

}